# Logs
*.log

# Secrets
auth.json

# Dependencies
vendor

# Context-specific
.bin
.cache
.data
.direnv
.local
.run
.php-cs-fixer.cache

# Build artifacts
result

# Generated:
/.pre-commit-config.yaml

# Prevent downstream dependency hell
composer.lock

# User-specific tool configurations
.dir-locals.el
.idea
